.MagicScroll[data-mode="carousel"] {
    background: linear-gradient(90deg, rgba(161,188,240,1) 3%, rgba(138,207,236,1) 31%, rgba(181,217,247,1) 66%, rgba(213,236,228,1) 90%);
}
.MagicScroll[data-mode="cover-flow"] {
    background: linear-gradient(90deg, rgba(161,188,240,1) 3%, rgba(138,207,236,1) 31%, rgba(181,217,247,1) 66%, rgba(213,236,228,1) 90%);
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}

.modal {
    /*visibility: hidden;*/
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#eye_1, #eye_2, #eye_3, #eye_4, #eye_5{
    border-radius: 50%;
    width: 15%;
    height: 15%;
    margin-right: 5%;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}