<section id="gallery" class="background-blue pb-16">
    <div class="wrapper centered-text clearfix">
        <h1>Gallery</h1>
        <div class="grid grid-cols-5 gap-3 pb-16">
            <h2>Raw Image</h2>
            <h2>Masked Image</h2>
            <h2>Equalized Image</h2>
            <h2>Vessels</h2>
            <h2>MSF Vessels</h2>

            <div class="h-56 w-full bg-gray-200 border border-black">1a</div>
            <div class="h-56 w-full bg-gray-200 border border-black">1b</div>
            <div class="h-56 w-full bg-gray-200 border border-black">1c</div>
            <div class="h-56 w-full bg-gray-200 border border-black">1d</div>
            <div class="h-56 w-full bg-gray-200 border border-black">1e</div>

            <div class="h-56 w-full bg-gray-200 border border-black">2a</div>
            <div class="h-56 w-full bg-gray-200 border border-black">2b</div>
            <div class="h-56 w-full bg-gray-200 border border-black">2c</div>
            <div class="h-56 w-full bg-gray-200 border border-black">2d</div>
            <div class="h-56 w-full bg-gray-200 border border-black">2e</div>

            <div class="h-56 w-full bg-gray-200 border border-black">3a</div>
            <div class="h-56 w-full bg-gray-200 border border-black">3b</div>
            <div class="h-56 w-full bg-gray-200 border border-black">3c</div>
            <div class="h-56 w-full bg-gray-200 border border-black">3d</div>
            <div class="h-56 w-full bg-gray-200 border border-black">3e</div>
        </div>
    </div>
</section>