<section id="admin-login" class="background-yellow pb-16">
    <div class="wrapper centered-text clearfix">
        <h1>Admin Login</h1>
        <form action="#" method="POST">
            <label class="block text-sm font-medium text-gray-700" for="#">Username</label>
            <input id="username" name="username" class="mb-4 pl-1.5 py-1.5 mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50" type="text">

            <label class="block text-sm font-medium text-gray-700" for="password">Password</label>
            <input id="password" name="password" class="mb-4 pl-1.5 py-1.5 mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black focus:ring-opacity-50" type="text">

            <button class="bg-color-tertiary text-white px-4 py-2 rounded font-semibold background-blue filter drop-shadow shadow" >Login</button>
        </form>
    </div>
</section>