<header class="clearfix background-lightgrey">
    <div class="wrapper">
        <div id="banner">
            <div id="logo"><a href="index.html"><img src="images/transparent_logo.png" alt="logo" style="width: 35%;margin-top: -10px"></a></div>
        </div>

        <!-- main navigation -->
        <nav id="topnav" role="navigation">
            <div class="menu-toggle">Menu</div>
            <ul class="srt-menu" id="menu-main-navigation">
                <li><a href="#home">Home</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#admin-login" id="admin-login-link">Admin Login</a></li>
            </ul>
        </nav><!-- end main navigation -->
    </div>
</header><!-- end header -->