<section id="projects" class="pb-16">
    <div id="projects-preview" class="wrapper centered-text clearfix min-h-28">
        <h1>This is projects section</h1>
        <p>Tiramisu pie lemon drops pastry toffee gummies candy canes biscuit biscuit. Dragée danish bonbon liquorice chocolate wafer wafer. Sesame snaps cake wafer gummies dessert biscuit caramels.</p>
        <li><a href="#">Example Project</a></li>
        <li><a href="#">Eye Project</a></li>
        <li><a href="#">Another Project</a></li>
    </div>
</section>